/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */


/*Remove Specific Formatting ---------------------------------------------------------
------------------------------------------------------------------------------------*/ 

#page {
	-webkit-font-smoothing: antialiased;
	}

.block {
	margin-bottom:0em !important;
	}

.field-collection-view {
	padding: 0em 0 0em 0;
	margin: 0 0em 0 0em;
	border-bottom: none;
	}

.field-collection-container {
	border-bottom: none;
	margin-bottom: 0em;
	}
	
.field-collection-container .field-items .field-item {
	margin-bottom: 0px;
	}
	
:focus {
 	outline:0 !important; 
 	border-bottom: 1px solid white;
	}
	
* {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

html {
    font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	}
		
.page-news .pager {
	padding-bottom:60px;
	}
	
/*Load Fonts -------------------------------------------------------------------------
------------------------------------------------------------------------------------*/

@import url('http://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,600,700,800,900');

@import url('http://fonts.googleapis.com/css?family=Actor');

@import url('http://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff');


/*Global Settings --------------------------------------------------------------------
------------------------------------------------------------------------------------*/

html, 
body,
.front #page,
.front #header {
    height: 100%;
    }
    
.front #gallery {
    height: 100%;	
	}
	
/*Header ----------------------------------------------------------------------------
------------------------------------------------------------------------------------*/	
	
.front .field-name-title {
	position:absolute;
	right: 0px;
	bottom:0px;
	background-color: #1f384f;
	}
	
.front .field-name-title h2 {
	margin:0 0 0 0;
	padding: 10px 15px 10px 15px;
	font-family: 'Raleway', sans-serif;
	font-weight:100;
	color: white;
	font-size: 25px;
	line-height:30px;
	font-weight: 100;
	text-transform: uppercase;
	margin-bottom:0px;
	}
	
#fixed-menu {
	position: fixed;
	top:0;
	left:0;
	z-index: 100;
	background-color: #1f384f;
	}
	
/*Logo Block*/	
#block-block-5 {
	display:inline-block;
  	vertical-align: middle;
  	background-color:#152735;
	}
	
#block-block-5 img {
	width:267px;
	}
	
/*Inner Page Logo Block*/

#block-block-10 {
	display:inline-block;
  	vertical-align: middle;
  	background-color:#152735;
	}
	
#block-block-10 img {
	width:267px;
	}

.page-news #header,
.node-type-news-post #header,
.page-taxonomy #header {
	background-image: url('../theme-images/news-header-full.jpg');
	background-position: center top;
	background-repeat: no-repeat;	
	background-size:cover;
	background-attachment: fixed;
	}	

/*Menu Specific Media Query - Min 768 ------------------------------------------------
------------------------------------------------------------------------------------*/

@media (min-width:730px) {

/*Menu Block*/
#block-block-3,
.responsive-menus {	
	display: inline-block;
  	background-color: #1f384f;
  	vertical-align: middle;
	}
	
#block-block-3 {
  	padding: 10px 10px 10px 10px;
	}
	
#block-block-3 #fixed-menu-links a {	
	display: inline;
	margin:0 8px 0 8px;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
  	text-transform: uppercase;
	}
	
#block-block-3 #fixed-menu-links a:hover {	
  	border-bottom-style: solid;
  	border-bottom-width: 1px;
  	text-decoration: none;
	}
	
.page-news #block-block-9 a#news-link,
.node-type-news-post #block-block-9 a#news-link,
.section-news-category #block-block-9 a#news-link {	
  	border-bottom-style: solid;
  	border-bottom-width: 1px;
  	text-decoration: none;
	}	

/*Inner Page Menu Block*/
#block-block-9,
.responsive-menus {	
	display: inline-block;
  	background-color: #1f384f;
  	vertical-align: middle;
	}
	
#block-block-9 {
  	padding: 10px 10px 10px 10px;
	}
	
#block-block-9 #fixed-menu-links a {	
	display: inline;
	margin:0 8px 0 8px;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
  	text-transform: uppercase;
	}
	
#block-block-9 #fixed-menu-links a:hover {	
  	border-bottom-style: solid;
  	border-bottom-width: 1px;
  	text-decoration: none;
	}

/*Top right power logo*/
#block-block-7 {
	position:fixed;
	top:5px;
	right:5px;
	z-index:100;
	}	
	
#block-block-7 img {
	width:150px;
	}
	
#block-block-3 #fixed-menu-links a:visited{
/*
	border-bottom-style: solid;
  	border-bottom-width: 1px;
  	text-decoration: none;
*/
	}	

#next{
	border-bottom: 0px !important;
	text-decoration: none !important;
}
#previous{
	border-bottom: 0px !important;
	text-decoration: none !important;
}	

}/*End Media Query------------------------------------------------------------------*/	

/*Mobile Menu ------------------------------------------------------------------------
------------------------------------------------------------------------------------*/

/*Mobile Logo*/

#block-block-6 {
	width:115px;
	display:inline-block;
	}

#block-block-6 img {
	width:115px;
	height:auto;
	}

/*Mobile Layout Max 768 --------------------------------------------------------------
------------------------------------------------------------------------------------*/

@media (max-width:730px) {
	
/*Desktop Logo*/
#block-block-5 {
	display:none;	
	}
	
/*Desktop Logo Inner Pages*/
#block-block-10 {
	display:none;	
	}

#fixed-menu {
	width:100%;
	}

.responsive-menus.absolute,
.responsive-menus.responsified.responsive-toggled.absolute {
    position: relative;
	z-index: 999;
	position:fixed;
	top:0px;
	right:0px;
	}

.responsive-menus.responsified span.toggler {
    clear: both;
	padding:19px; 45px 19px 45px;
    float:right; 
	display: block;
	background: #1f384f;
	background-color: #1f384f;
	color: #fff;
	border-radius: 0px;
	box-shadow: none;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	outline: none;
	}
	
.responsive-menus.responsified.responsive-toggled.absolute .responsive-menus-simple {
  	position: fixed;
  	z-index: 999;
  	margin-top:60px;
  	width:100%;
	}

.responsive-menus.responsified.responsive-toggled span.toggler {
    border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: none;
	}

.responsive-menus.responsified .responsive-menus-simple {
    display: none;
	width: 100%;
	background: #152735;
	background-color:#152735;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	box-shadow: none;
	}
	
.responsive-menus #rm-removed {
	width:100%;
	}

.responsive-menus #rm-removed a {
	display:block;
	}
	
#rm-removed a {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	padding: 20px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	}
	
.node-type-news-post #main {
	padding-top:10px;
	}
	
.section-news-category #main {
	padding-top:50px;
	}
			
/*Mobile Div Backgrounds -------------------------------------------------------------
------------------------------------------------------------------------------------*/	
	
.front #block-ds-extras-header-first-homepage {
	background-image: url('../theme-images/about-left-bg-mobile.jpg');
	background-position: center center;
	background-repeat: no-repeat;	
	background-size:cover;
	}	
		
.front #block-ds-extras-header-second-homepage {
	background-image: url('../theme-images/about-right-bg-mobile.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size:cover;
	}	
	
.front #properties {
	background-image: url('../theme-images/properties-bg-mobile.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size:cover;
	}	
	
.front #contact {
	background-image: url('../theme-images/contact-bg-mobile.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size:cover;
	}		
	
#footer {
	background-image: url('../theme-images/footer-bg-mobile.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size:cover;
	}
	
		
}/*End Media Query------------------------------------------------------------------*/

/*Hide Large Menu Larger than 768 ----------------------------------------------------
------------------------------------------------------------------------------------*/	

@media (min-width:730px) {
	
	/*Mobile Logo*/
	#block-block-6 {
	display:none;	
	}
	
	/*Hide home link in large menu for homepage*/
	#block-block-3 a#home-mobile-link {
	display:none;	
	}

	/*Hide home link in large menu for inner pages*/	
	#block-block-9 a#home-mobile-link {
	display:none;	
	}
	
}/*End Media Query------------------------------------------------------------------*/


/*Mobile Layout Max 830 --------------------------------------------------------------
------------------------------------------------------------------------------------*/
	
@media (max-width:830px) {	

/*Desktop Power Logo*/
#block-block-7 {
	display:none;	
	}

}/*End Media Query------------------------------------------------------------------*/

/*About ------------------------------------------------------------------------------
------------------------------------------------------------------------------------*/ 

#block-ds-extras-about-homepage {
	padding-top:75px;
	padding-bottom:35px;
	}		
	
.front .field-name-field-about-intro-text {
	font-family: 'Raleway', sans-serif;
	color: #212121;
	font-size: 20px;
	line-height: 20px;
	font-style: italic;
	font-weight: 200;
	text-transform: uppercase;
	text-align: center;
	}

.front .field-name-field-about-intro-year {
	font-family: 'Raleway', sans-serif;
	color: #212121;
	font-weight: 100;
	text-align: center;
	font-size: 65px;
	line-height: 65px;
	padding:5px 0 0 0;
	}
	
.front .field-name-body {
	font-family: 'Actor', sans-serif;	
	color: #212121;
	font-size: 15px;
	line-height: 22px;
	max-width: 320px;
	margin-top: 47px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom:75px;
	}

/*About Blocks -----------------------------------------------------------------------
------------------------------------------------------------------------------------*/

.front #block-ds-extras-header-first-homepage {
	padding: 60px 0 60px 0;
	margin-bottom:0em;
	}
	
.front #block-ds-extras-header-second-homepage {
	padding: 60px 0 60px 0;
	margin-bottom:0em;
	}

.front .field-name-field-about-block-title {
	background-image: url('../theme-images/intro-text-back.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 16px;
	line-height: 25px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	}

.front .field-name-field-about-block-large-title {
	margin-top: 3px;
	margin-bottom: 10px;
	font-family: 'Raleway', sans-serif;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 23px;
	line-height: 30px;
	font-weight: 400;
	}

.front .field-name-field-about-block-text {
	margin-right: auto;
	margin-left: auto;
	font-family: 'Actor', sans-serif;
	color: white;
	font-size: 15px;
	line-height: 23px;
	font-weight: 400;
	text-align: center;
	max-width: 320px;
	padding-right: 10px;
	padding-left: 10px;
	}
	
/*Gallery ----------------------------------------------------------------------------
------------------------------------------------------------------------------------*/	

#arrows-parent {
  	width:100%;
  	height: 100%;
	}	
	
#arrow-left {
  	position: absolute;
  	width: 100px;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	margin: auto;
    text-align:left;
	}
	
#arrow-right {
  	position: absolute;
  	width: 100px;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	margin: auto;
    text-align:right;
	}

#arrow-icon-left {
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	margin: auto;
  	width: 20px;
  	height: 20px;
    cursor: pointer;
	}

#arrow-icon-right {
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	margin: auto;
  	width: 20px;
    height: 20px;
    cursor: pointer;
	}

a#previous {
	width:20px;
	height:20px;
	/*
	text-indent:-9999px;
	background-image: url('https://torquelaunchdev.com/powerlrg/sites/all/themes/lrg/theme-images/arrow-left.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 20px 20px;	
	background-color:#333;
	*/
	}
	
a#next {
	width:20px;
	height:20px;
	/*
	text-indent:-9999px;
	background-image: url('https://torquelaunchdev.com/powerlrg/sites/all/themes/lrg/theme-images/arrow-right.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 20px 20px;	
	background-color:#333;
	*/
	}
	
/*Properties -------------------------------------------------------------------------
------------------------------------------------------------------------------------*/

.front #properties {
	padding:100px 0 54px 0;
	}

.front .field-name-field-properties-title-one {
	background-image: url('../theme-images/intro-text-back.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 16px;
	line-height: 25px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	}


.front .field-name-field-properties-title-two {
	margin-top: 3px;
	margin-bottom: 10px;
	font-family: 'Raleway', sans-serif;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 35px;
	font-weight: 300;	
	margin-bottom:65px;
	}

.front .field-name-field-property-title {
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;	
	}

.front .field-name-field-property-address {
	font-family: 'Actor', sans-serif;
	color: white;
	font-weight: 600;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 0px;
	font-size: 15px;	
	margin-bottom:36px;
	}

/*Process ----------------------------------------------------------------------------
------------------------------------------------------------------------------------*/

.front #process {
	padding:80px 0 54px 0;
	}

.front .field-name-field-process-title-one {
	background-image: url('../theme-images/intro-text-back-blue.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	font-family: 'Raleway', sans-serif;
	color: #254b68;
	font-size: 16px;
	line-height: 25px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;  
	}

.front .field-name-field-process-title-two {
	font-family: 'Raleway', sans-serif;
	color: #254b68;
	font-size: 32px;
	line-height: 40px;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 300;
	text-align: center;
	}
	
.front .field-name-field-process-list .view-mode-full {
	text-align:center;
	padding:45px 0 20px 0;
	}
	
.front .field-name-field-process-icon img {
	width:50px;
	height:auto;
	}

.front .field-name-field-process-main-title {
	margin-top: 0px;
	font-family: 'Raleway', sans-serif;
	color: #254b68;
	font-size: 20px;
	line-height: 30px;
	font-weight: 600;
	text-transform: uppercase;
	}

.front .field-name-field-process-sub-title {
	font-family: 'Raleway', sans-serif;
	color: #254b68;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 20px;
	}

.front .field-name-field-process-text {
	max-width: 320px;
	margin-right: auto;
  	margin-left: auto;
  	padding-right: 10px;
  	padding-left: 10px;
	font-family: 'Actor', sans-serif;
	color: #254b68;
	font-size: 15px;
	line-height: 23px;
	}

/*Contact ----------------------------------------------------------------------------
------------------------------------------------------------------------------------*/

.front #contact {
	padding:80px 0 54px 0;	
	}

.front .field-name-field-contact-title {
	font-family: 'Raleway', sans-serif;
	color:#fff;
	text-align: center;
	font-size: 40px;
  	line-height: 40px;
  	text-transform: uppercase;
	}

.front .field-name-field-contact-info {
	text-align: center;
	font-family: 'Actor', sans-serif;
	color: #fff;
  	font-size: 15px;
  	line-height: 23px;
	}

.front .field-name-field-contact-info a {
	color: #fff;
	}

/*Footer ----------------------------------------------------------------------------
------------------------------------------------------------------------------------*/

#footer {
	padding:100px 0 100px 0;
	}
	
#block-block-4 {
	text-align: center;
	}

#block-block-4 img {
	width:160px;
	height:auto;
	}

#footer-copyright {
  	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
	color: gray;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;	
	font-weight: 600;
	}

#footer-all-rights {
	margin-top:5px;
	font-family: 'Raleway', sans-serif;
	color: gray;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;	
	font-weight: 600;
	}

/*News Posts Overview ----------------------------------------------------------------
------------------------------------------------------------------------------------*/	
	
.page-news #header {
	padding-top:175px;
	padding-bottom:175px;	
	}

.page-news #news-small-title {
  	background-image: url('../theme-images/intro-text-back.png');
  	background-position: 50% 50%;
  	background-repeat: no-repeat;
  	font-family: 'Raleway', sans-serif;
  	color: white;
  	font-size: 16px;
  	line-height: 25px;
  	font-weight: 600;
  	text-align: center;
    text-transform: uppercase;
    font-size: 15px;
	}

.page-news #news-large-title {
    margin-top: 3px;
	margin-bottom: 0px;
	font-family: 'Raleway', sans-serif;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	line-height: 38px;
	font-weight: 400;
	}

.page-news #page-title {
	display:none;
	}		
	
.page-news #content {
	padding-bottom:0px;
	}	
	
.page-news #content {
	display:block;
	width:100%;
	height:auto;
	max-width: 700px;
	margin-left:auto;
	margin-right:auto;
	}
	
.view-news-posts .views-row {
	display:block;
	margin:60px 0 60px 0;
	}

.view-news-posts a.views-more-link {
	display:block;
	}

.view-news-posts .views-exposed-form .views-exposed-widget {
    float: none;
	padding: 0em 0em 0 0;
	}
	
.view-news-posts .view-filters {
	display:none;/*Hide the filters until they're setup*/
	text-align: center;
	padding:60px 0 0 0;
	}
	
.view-news-posts .view-filters a {
	font-family: 'Raleway', sans-serif;	
	font-size: 13px;
  	line-height: 20px;
  	font-weight: 600;
  	text-decoration: none;
  	text-transform: uppercase;
  	color:#254b68;
	}
	
.view-news-posts .view-filters a:hover {
	border-bottom:1px solid #254b68;
	}

.view-news-posts .view-filters .selected a {
	border-bottom:1px solid #254b68;
	}
	
.view-news-posts #title-post {
    font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 28px;
	line-height: 38px;
	font-weight: 400;
	}		

.view-news-posts #title-post a {
	text-decoration: none;
	color:#000000;	
	}	
	
.view-news-posts #date-post {
	font-family: 'Raleway', sans-serif;	
	font-size: 13px;
  	line-height: 20px;
  	font-weight: 600;	
  	text-transform: uppercase;
  	color:#909090;
	}
	
.view-news-posts #body-post {
	font-family: 'Actor', sans-serif;
	color: #212121;
	font-size: 15px;
	line-height: 22px;
	}	
	
.view-news-posts #body-post p a {
	color: #254b68;
	font-weight: normal;
	}		
	
.view-news-posts a.views-more-link {
	display:inline-block;
	font-family: 'Raleway', sans-serif;	
	font-size: 13px;
  	font-weight: 600;	
  	text-transform: uppercase;
  	color:#e14a25 !important;
  	text-decoration: none;
	}	
	
.view-news-posts a.views-more-link:hover {
	border-bottom:1px solid #e14a25;
	}		
	
.pager {
	font-family: 'Raleway', sans-serif;	
	font-size: 15px;
  	line-height: 20px;
  	font-weight: 600;
  	border-top: 1px solid #d0d0d0;
  	padding-top: 60px;
	}	
	
.pager a {
	text-decoration: none;
	color:#254b68;
	}		

/*News Post Detail -------------------------------------------------------------------
------------------------------------------------------------------------------------*/

.node-type-news-post #block-ds-extras-post-header,
.node-type-news-post #content {
	display:block;
	width:100%;
	height:auto;
	max-width: 700px;
	margin-left:auto;
	margin-right:auto;
	}
	
.node-type-news-post #header {
	background-color:#ececec;
	padding-top:200px;
	}

.node-type-news-post .field-name-field-post-date {
	font-family: 'Raleway', sans-serif;
  	color: white;
  	font-size: 16px;
  	line-height: 25px;
  	font-weight: 600;
 	text-transform: uppercase;
  	font-size: 15px;	
	}
	
.node-type-news-post .field-name-title h1 {
	margin-top:5px;
	margin-bottom:5px;
	font-family: 'Raleway', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
	}

.node-type-news-post .field-name-body {
	font-family: 'Actor', sans-serif;
	color: #212121;
	font-size: 15px;
	line-height: 22px;
	}
	
.node-type-news-post .field-name-body a {
	color: #254b68;
	font-weight: normal;
	}		

.node-type-news-post .field-name-field-signature-line {
	margin-top:20px;
	font-family: 'Herr Von Muellerhoff', cursive;
	font-size:25px;
	}

.node-type-news-post .field-name-field-signature-details {
	font-family: 'Actor', sans-serif;
	font-size:11px;
	line-height:13px;
	}
	
.node-type-news-post .field-name-field-post-terms {
  color: #e14a25;	
	}

.node-type-news-post .field-name-field-post-terms a {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #e14a25;
  text-decoration: none;
	}

.node-type-news-post .field-name-field-post-terms a:hover {
	border-bottom:1px solid #e14a25;
	}	
	
.node-type-news-post #content {
	padding-bottom:100px;
	}
	
.node-type-news-post .field-name-body img {
	width:100% !important;
	height:auto !important;
	}
	
.node-type-news-post address {
	font-family: 'Actor', sans-serif;
	color: #9e9e9e;
	font-size: 13px;
	line-height: 18px;
	font-style:normal;
	}

/*Taxonomy Page Results --------------------------------------------------------------
------------------------------------------------------------------------------------*/

.page-taxonomy h1#page-title {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 28px;
	line-height: 38px;
	font-weight: 400;	
	border-bottom:1px solid #d0d0d0;
	}

.page-taxonomy #block-ds-extras-post-header,
.page-taxonomy #content {
	max-width: 700px;
	margin-left:auto;
	margin-right:auto;
	}

.page-taxonomy #header {
	padding-top:200px;
	}
	
.page-taxonomy .view-taxonomy-term .views-row {
	padding:30px 0 30px 0;
	}
	
.page-taxonomy .field-name-title h1 {
	margin-top:5px;
	margin-bottom:5px;
	font-size:28px;
	line-height: 38px;
	font-weight: 400;
	}

.page-taxonomy .field-name-title {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 28px;
	line-height: 38px;
	font-weight: 400;
	}

.page-taxonomy .field-name-title a {
	color:#000;
	text-decoration: none;
	}
	
.page-taxonomy .field-name-field-post-date {
    font-family: 'Raleway', sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #909090;	
	}
	
.page-taxonomy .field-name-body {
  	font-family: 'Actor', sans-serif;
  	color: #212121;
  	font-size: 15px;
  	line-height: 22px;	
	}

.page-taxonomy .field-name-node-link a {
    font-family: 'Raleway', sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #e14a25;
	text-decoration: none;	
	}

.page-taxonomy .field-name-node-link a:hover {
	border-bottom:1px solid #e14a25;
	}	

/*480 Breakpoint ---------------------------------------------------------------------
------------------------------------------------------------------------------------*/

@media (min-width:480px) {


/*Branding ---------------------------------------------------------------------------
------------------------------------------------------------------------------------*/

.front .field-name-title h2 {
	padding: 20px 20px 20px 20px;
	font-size: 40px;
	line-height: 40px;
	}

/*About ------------------------------------------------------------------------------
------------------------------------------------------------------------------------*/

.front .field-name-field-about-intro-text {
	font-size: 28px;
	}

.front .field-name-field-about-intro-year {
	font-size: 80px;
	line-height: 80px;
	}
	
}/*End Media Query-----------------------------------------------------------------*/

/*768 Breakpoint ---------------------------------------------------------------------
------------------------------------------------------------------------------------*/

@media (min-width:730px) {


/*Branding ---------------------------------------------------------------------------
------------------------------------------------------------------------------------*/

.front .field-name-title h2 {
	padding: 40px 40px 40px 40px;
	font-size: 50px;
	line-height: 50px;
	}
	
/*About ------------------------------------------------------------------------------
------------------------------------------------------------------------------------*/


#about-top {
	display:block;
	width:100%;
	height:auto;
	max-width: 1170px;
    margin-left: auto;
	margin-right: auto;
	}
	
#about-top:before, #about-top:after {
  	content: " ";
  	display: table;
	}

#about-top:after {
  	clear: both;
	}

#block-ds-extras-about-homepage {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:33%;
	float:left;
	padding-right: 30px;
	text-align: right;
	padding-top: 100px;
	padding-bottom: 75px;
	}

#block-ds-extras-about-right-homepage {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:66%;
	float:left;
	padding-top: 75px;
	padding-bottom: 75px;
	}

.front .field-name-field-about-intro-text {
	text-align: right;
	margin-right: 50px;
	font-size: 30px;
    line-height: 30px;
	}

.front .field-name-field-about-intro-year {
	text-align: right;
	font-size: 90px;
	line-height: 60px;
	font-weight: 100 !important;
	}
	
.front .field-name-body {
    font-family: 'Actor', sans-serif;
	color: #212121;
	font-size: 15px;
	line-height: 22px;
	max-width: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 75px;
	max-width:753px;
	}	

/*About Blocks -----------------------------------------------------------------------
------------------------------------------------------------------------------------*/

#about-blocks {
	display:block;
	width:100%;
	height:auto;
	}
	
#about-blocks:before, #about-blocks:after {
  	content: " ";
  	display: table;
	}

#about-blocks:after {
  	clear: both;
	}
	
.front #block-ds-extras-header-first-homepage {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:50%;
	float:left;
	padding:100px 0 100px 0;
	}

.front #block-ds-extras-header-second-homepage {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:50%;
	float:left;
	padding:100px 0 100px 0;
	}
	
/*Select Properties ------------------------------------------------------------------
------------------------------------------------------------------------------------*/	
	
#properties-inner {
	display:block;
	width:100%;
	height:auto;
	max-width: 800px;
  	margin-right: auto;
    margin-left: auto;
	}
	
#properties-inner:before, #properties-inner:after {
  	content: " ";
  	display: table;
	}

#properties-inner:after {
  	clear: both;
	}

#properties .field-collection-container {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:50%;
	float:left;
	}
	
.front .field-name-field-property-title {
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 19px;
	line-height: 22px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;	
	}


/*Process ----------------------------------------------------------------------------
------------------------------------------------------------------------------------*/

.front #process {
  	padding: 100px 0 80px 0;
  	max-width: 1170px;
  	margin-left: auto;
  	margin-right: auto;
	}
	

.front .field-name-field-process-title-two {
	font-size: 32px;
	line-height: 40px;
  	font-weight: 200;
 	 margin-bottom:30px;
	}		


.field-name-field-process-list .field-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display:inline-block;
	width:33%;	
	vertical-align:top;
	}

.field-name-field-process-icon .field-item,
.field-name-field-process-main-title .field-item,
.field-name-field-process-sub-title .field-item,
.field-name-field-process-text .field-item {
	width:100%	
	}

/*Contact ----------------------------------------------------------------------------
------------------------------------------------------------------------------------*/
	
#contact-inner {
	display:block;
	width:100%;
	height:auto;
	max-width: 800px;
  	margin-right: auto;
    margin-left: auto;
	}
	
#contact-inner:before, #contact-inner:after {
  	content: " ";
  	display: table;
	}

#contact-inner:after {
  	clear: both;
	}

.front .field-name-field-contact-title {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:50%;
	display:inline-block;
	text-align: right;
	padding-right: 20px;
	vertical-align: top;
	font-size: 50px;
	line-height: 50px;
	font-weight: 100;
	padding-top:22px;
	}
	
.front .field-name-field-contact-info {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:50%;
	display:inline-block;
	text-align: left;
	padding-left: 20px;
	vertical-align: top;
	}

/*Footer -----------------------------------------------------------------------------
------------------------------------------------------------------------------------*/

#block-block-4 img {
    width: 200px;
	height: auto;
	}

/*Large Div Backgrounds -------------------------------------------------------------
------------------------------------------------------------------------------------*/	
	
.front #about-blocks {
	background-image: url('../theme-images/about-blocks-bg-large.jpg');
	background-position: center center;
	background-repeat: no-repeat;	
	background-size:cover;
	background-attachment: fixed;
	}	
		
.front #properties {
	background-image: url('../theme-images/properties-section-bg-large.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
	}	
	
.front #contact {
	background-image: url('../theme-images/contact-section-bg-large.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
	}	
		
#footer {
	background-image: url('../theme-images/footer-section-bg-large.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size:cover;
	}		

/*News Posts Overview ----------------------------------------------------------------
------------------------------------------------------------------------------------*/	
		
.page-news #content {
	max-width: 1000px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:0px;
	}
		
/*Filters*/

.view-news-posts .view-filters {
	text-align: left;
	padding:60px 0 0 0;
	}

.view-news-posts .form-item {
	display: inline-block;
	padding-right:10px;
	}	

/*End Filters*/

.view-news-posts .views-row {
	display:block;
	margin:60px 0 60px 0;
	}

.view-news-posts #post-photo-left {
	width:49%;
	height:auto;
	display:inline-block;
	vertical-align: top;
	}

.view-news-posts #post-info {
	width:50%;
	height:auto;
	display:inline-block;	
	vertical-align: top;
	padding-left:15px;
	}
	
.view-news-posts #title-post {
	border-top:1px solid #d0d0d0;
	padding-top:10px;
	}

/*News Pages -------------------------------------------------------------------------
------------------------------------------------------------------------------------*/
	
.page-news #main {
    padding-top: 0em;
	}

}/*End Media Query------------------------------------------------------------------*/

/*992 Breakpoint ---------------------------------------------------------------------
------------------------------------------------------------------------------------*/

@media (min-width:992px) {

/*Branding ---------------------------------------------------------------------------
------------------------------------------------------------------------------------*/

.front .field-name-title h2 {
	padding: 45px 45px 45px 45px;
	font-size: 75px;
	line-height: 75px;
	}

/*About Blocks -----------------------------------------------------------------------
------------------------------------------------------------------------------------*/
	
.front .field-name-field-about-block-large-title {
	margin-top: 3px;
	margin-bottom: 0px;
	font-family: 'Raleway', sans-serif;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 40px;
	font-weight: 400;
	}
	
.front .field-name-field-about-block-text {
  	margin-right: auto;
  	margin-left: auto;
  	font-family: 'Actor', sans-serif;
  	color: white;
  	font-size: 15px;
  	line-height: 23px;
  	font-weight: 400;
  	text-align: center;
  	max-width: 440px;
  	padding-right: 10px;
  	padding-left: 10px;
	}

/*Properties ------------------------------------------------------------------------
------------------------------------------------------------------------------------*/

.front .field-name-field-properties-title-two {
	margin-top: 0px;
	margin-bottom: 85px;
	font-family: 'Raleway', sans-serif;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 34px;
	line-height: 40px;
	font-weight: 400;
	}

}/*End Media Query------------------------------------------------------------------*/


/*Admin Pages ------------------------------------------------------------------------
------------------------------------------------------------------------------------*/

.page-user #content {
	padding:200px 60px 200px 60px;
	}

.page-user #main {

	}
	
	
.page-user input {
	padding:10px 8px 10px 8px;	
	background-color:#ececec !important;
	}	
	

.logged-in #fixed-menu,
.logged-in #block-block-7 {
	margin-top:28px;
	}
	
.logged-in .field-name-field-homepage-gallery-controls {
	display:none;
	}

/*	
a:active{
    background: #f8fafb;
	color: #fff;
	border-radius: 5px;
	}
*/




/*404 --------------------------------------------------------------------------------
------------------------------------------------------------------------------------*/

.node-type-error-page #content {
	padding:200px 0 250px 0;
	text-align: center;
	}


.node-type-error-page .field-name-field-error-image {

	}

.node-type-error-page .field-name-field-error-image img {
	width:300px;
	height:auto;
	}
	
.node-type-error-page .field-name-title h1 {
  font-size: 1.5em;
  line-height: 1.5em;
	margin-top: 0em;
	margin-bottom: 0em;
	}

.node-type-error-page .field-name-title {
	font-family: 'UnifrakturMaguntia', cursive;
	font-size:50px;
	line-height:50px;
	}

.node-type-error-page .field-name-body {
	font-family: 'UnifrakturMaguntia', cursive;
	}

.node-type-error-page .field-name-body p {
	margin: 0em 0;
	font-size:25px;
	line-height: 30px;
	}
	
.node-type-error-page .field-name-body address {
	/*font-family: 'Raleway', sans-serif;*/
	font-style:normal;
	margin-top:20px;
	}
	
.node-type-error-page .field-name-body address a {
	color:#000;
	}







@media (max-width:730px) {

#block-block-5 {
	display:none !important;
	}


#block-block-6 {
	display:inline-block !important;
	position:relative;
	z-index:1000 !important;
	}


a#page1{
	border-bottom-width: 0px !important;
border-bottom-style: solid;
border-bottom-color: rgb(255, 255, 255);
	
	}
a#page2{
	border-bottom-width: 0px !important;
border-bottom-style: solid;
border-bottom-color: rgb(255, 255, 255);
	
	}
a#page3{
	border-bottom-width: 0px !important;
border-bottom-style: solid;
border-bottom-color: rgb(255, 255, 255);
	
	}
a#page4{
	border-bottom-width: 0px !important;
	border-bottom-style: solid;
	border-bottom-color: rgb(255, 255, 255);
	
	}
a#home-mobile-link{
	border-bottom-width: 0px !important;
}
a#news-link{
	border-bottom-width: 0px !important;
}

.front #about-blocks{
	
	background-repeat:repeat;
	background-size:auto;
	
}


}


@media (max-width:1200px) {
	
	.front #about-blocks{
	
		background-repeat:repeat !important;
		background-size:auto !important;
	}
	.front #properties{
	
		background-repeat:repeat !important;
		background-size:auto !important;
	}
	.front #contact{
	
		background-repeat:repeat !important;
		background-size:auto !important;
	}
	
}
/*Gallery ----------------------------------------------------------------------------
------------------------------------------------------------------------------------*/


.front #gallery {
		background: #FFFFFF;
  	height: auto;
  	padding: 4rem;
	}
#gallery .block-title{
	display: none;	
}
#gallery .views-row{
	display: inline-block;
	margin: 2.5px 0;
}



.field-name-field-lrg-gallery-collection {
  	display: flex;
  	flex-direction: row;
  	justify-content: center;
  	align-items: stretch;
}	

.field-items{
	text-align: center;
}
.field-name-field-lrg-gallery-collection .field-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display:inline-block;
/* 	width:33%;	 */
	vertical-align:top;
	padding: .5rem;
}

.field.field-name-field-gtitle.field-type-text.field-label-hidden{
	display: none;
}


.field-name-field-lrg-gallery-collection .field-item:hover .field.field-name-field-title.field-type-text.field-label-hidden{
	background: rgba(0,0,50,.5);
  color: white;
  font-size: 2rem;
  display: block;
  position: absolute;
  z-index: 10;
  padding: 144px 186px;
}


.galleryformatter .prev-slide, .galleryformatter .next-slide{
	display: none;
}
.gallery-thumbs{
	display: none;
}
.tag{
	background: rgba(31,56,79,.5);
  color: white;
  display: block;
  font-family: 'Raleway',sans-serif;
   font-size: 30px;
  font-weight: 400;
  height: auto;
  line-height: 40px;
  padding: 28% 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 50;
}
.top{
	z-index: 1000;
}
.fancybox-opened .fancybox-title{
	visibility: hidden;
}
#fancybox-thumbs.bottom{
	bottom: 3rem;	
}
a.fancybox, a.fancybox:hover{
	display: block;
}
.panel-overlay{
	display: none;
}

.fancybox-lock {
    visibile: hidden !important;
    width: auto;
}


/*Project Page*/
.field-name-field-project-title{
	font-family: 'Raleway', sans-serif;
    color: #254b68;
    line-height: 32px;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 1rem;
}
.node-type-project-page .field-item{
	text-align: left;
}
.field-name-field-project-location{
	font-family: 'Raleway', sans-serif;
    color: #254b68;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 1rem;
}
.field-name-field-project-blurb{
	font-family: 'Actor', sans-serif;
    color: #254b68;
    font-size: 15px;
    line-height: 23px;
}
.control_prev:focus, .control_next:focus{
	border-bottom: none;
}
#page-title{
	display: none;
}
.field-collection-item-field-project-about{
	padding: 2.5rem 4rem;
}
.node-type-project-page .field-label{
	display: none;
}
#slider-container{
	margin: 4rem 4rem 0 4rem;
	position:	relative;
}
.node-project-page{
/* 	margin-bottom: 8rem; */
	max-width: 1500px;
	margin: 0 auto;
	padding-bottom: 8rem;
}
/*hide logo on project pages*/
.node-type-project-page #block-block-7{
	display: none;
}

/*Gallery Section HomePage*/
#gallery .views-row, .page-projects .views-row{
	display: inline-block;
	position: relative;
	width: 24%;
}
#gallery .views-field-title, .page-projects .views-field-title{
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, -50%);
	transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  width: 100%;
	text-align: center;
	
}
#gallery .views-field-title a, .page-projects .views-field-title a{
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
	font-family: 'Raleway', sans-serif;
}

#gallery .views-field-field-project-feature, .page-projects .views-field-field-project-feature{
	background: #1f384f;
}
#gallery .views-field-field-project-feature img, .page-projects .views-field-field-project-feature img{
	vertical-align: top;
	opacity: 1;
	transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  width: 100%;
}
#gallery .views-row:hover img, .page-projects .views-row:hover img{
	opacity: .3;
}
#gallery .views-row:hover .views-field-title, .page-projects .views-row:hover .views-field-title{
	opacity: 1;
	z-index: 10;
}
.page-project .view-project-list{
	padding: 1rem;
}
.control_prev, .control_next{
	position: absolute;
	width:20px;
	top:50%;
	margin-top: -20px;
}
.control_prev{
	left: 1rem;
}
.control_next{
	right: 1rem;
}
#thumbs-container{
	padding-top: 2rem; 
	margin-right: 4rem;
}


.thumb-container{
	display: inline-block; 
	padding: .25rem .25rem; 
	width: 33%;
}

@media screen and (max-width: 992px){
	.thumb-container{
		width: 50%;
	}
}

@media screen and (max-width: 730px){
	.front #gallery, .page-projects {
  	padding: 1rem;
	}
	#slider-container{
		margin: 4rem 1rem 0 1rem;
	}
	#thumbs-container{
		margin-right: 1rem;
	}
	.field-collection-item-field-project-about{
		padding: 2.5rem 1rem;
	}
	.thumb-container{
		width: 100%;
	}

	#gallery .views-row:hover .views-field-title, .page-projects .views-row:hover .views-field-title{
		opacity: 0;
	}
}
#block-views-project-node-list-block h2{
	display: none;
}

ul.entity_pager li a, ul.entity_pager li .inactive{
    background-repeat: no-repeat;
    color: #4D4E52;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
}
ul.entity_pager li.entity_pager_prev{
		float:left;
}
ul.entity_pager li.entity_pager_prev a, ul.entity_pager li.entity_pager_prev .inactive{
		background-image: url(http://lrg.torquelaunchdev.com/sites/all/themes/lrg/theme-images/project-prevarrow.png);
	  background-position: left;
		padding-left: 4rem;
}
ul.entity_pager li.entity_pager_next{
		float:right;
}
ul.entity_pager li.entity_pager_next a, ul.entity_pager li.entity_pager_next .inactive{
		background-image: url(http://lrg.torquelaunchdev.com/sites/all/themes/lrg/theme-images/project-nextarrow.png);
	  background-position: right;
		padding-right: 4rem;
}
ul.entity_pager li .inactive{
	opacity: 0;
}